

#adst{
	margin-left: 300px;
	width: 100px
	margin-top: 10px;
	height: 500px;
	background-color:#696969;
}

#buttons{

	height: 30px;
	background-color: #DCDCDC;
}
#adad{
	margin-left: 300px;
	width: 100px
	margin-top: 10px;
	height: 500px;
	background-color:#696969;
}
